// light mode colors
:root {
  --mainText: #1c273c;
  --bodyBg: #e5f1eb;
  --layoutsBg: #fff;
  --layoutsborder: #e1e6f1;
  --sideBarColor: #334151;
  --placeholderColor: #99a6b7;
  --formControlBg: #fff;
  --mainHeadNavText: #596882;
  --btnLight: #f1f2f9;
  --blackWhite:#000;
  --indigo:#4d6a98;
}

// dark mode colors
[data-theme="dark"] {
  --mainText: #fdfeff;
  --bodyBg: #101329;
  --layoutsBg: #1c1c38;
  --layoutsborder: #ffffff0d;
  --sideBarColor: #fff;
  --placeholderColor: #6b6b84;
  --formControlBg: #252542;
  --mainHeadNavText: #8283a0;
  --btnLight: #ffffff0f;
  --blackWhite:#fff;
  --indigo:#4d6a98;
}


$theme-colors: (
  primary: #1c3faa,
  secondary: #09295e,
  success: #5fa291,
  info: #01b8ff,
  gray: #828e9f,
  gray-dark:#343a40,
  light: #EFF1F9,
  warning: #eb6f33,
  danger: #e73026,
  dark: #232b3b,
  orange: #ffc107,

  black: #000,
  white: #fff,
  darkTheme: #1c1c38,
  lightTheme: #fff,

  selectionBg: #000,
  selectionColor: #fff,
  scrollTrackBg: #f1f1f1,
  scrollThumbBg: #888,
  scrollThumbHoverBg: #555,

  pink:#f10075,
  teal:#00cccc,
  purple:#6f42c1,
  red:#fb0d0d,
  lime:#0de00d,
  indigo:#4d6a98,
  cyan:#17a2b8,
  green:#0eef04,
  blue:#0768f1,
  yellow:#ffc107,
  maroon: #c71919,
  azure:#45aaf2,
  facebook: #457cf3,
  twitter: #17a7ff,
  google: #297ff7,
  youtube: #f81414,
  vimeo: #37cbfb,
  dribbble: #df4982,
  github: #202020,
  instagram: #e4405f,
  pinterest: #e9152c,
  vk: #527093,
  rss: #ffa500,
  flickr: #0063dc
);
$bg-colors: (
  gray-100: #f8f9fa,
  gray-200: #e9ecef,
  gray-300: #dee2e6,
  gray-400: #ced4da,
  gray-500: #adb5bd,
  gray-600: #6c757d,
  gray-700: #495057,
  gray-800: #3b4863,
  gray-900: #212529,
);

$white-colors:(
  white-1:rgba(255, 255, 255, 0.1),
  white-2:rgba(255, 255, 255, 0.2),
  white-3:rgba(255, 255, 255, 0.3),
  white-4:rgba(255, 255, 255, 0.4),
  white-5:rgba(255, 255, 255, 0.5),
  white-6:rgba(255, 255, 255, 0.6),
  white-7:rgba(255, 255, 255, 0.7),
  white-8:rgba(255, 255, 255, 0.8),
  white-9:rgba(255, 255, 255, 0.9),
  white-05:rgba(255, 255, 255, 0.05),
  white-08:rgba(255, 255, 255, 0.08),
  white-75:rgba(255, 255, 255, 0.075),
);

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

@each $color,
$value in $theme-colors {

  .btn-light-#{$color},
  .bg-light-#{$color} {
    // color: $value !important;
    background-color: tint-color($value, 20%) !important;
  }

  .btn-outline-#{$color} {
    color: $value !important;
    border-color: $value !important;
  }

  .btn-#{$color},
  .bg-#{$color} {
    // color: $value !important;
    background-color: $value !important;
  }

  .btn-gradient-#{$color},
  .bg-gradient-#{$color} {
    background-image: linear-gradient(to right, shade-color($value, 22%), tint-color($value, 5.0%)) !important;
  }

  .border-light-#{$color} {
    border-color: tint-color($value, 20%) !important;
  }

  .border-#{$color} {
    border-color: $value !important;
  }

  .text-light-#{$color} {
    color: tint-color($value, 20%) !important;
  }

  .text-#{$color} {
    color: $value !important;
  }

  .btn-light-#{$color} {

    &:hover,
    &:active,
    &:focus {
      background-color: $value !important;
      color: tint-color($value, 20%) !important;

    }
  }

  .btn-#{$color} {

    &:hover,
    &:active,
    &:focus {
      background-color: tint-color($value, 20%) !important;
      // color: $value !important;

    }
  }
}

@each $color,
$value in $bg-colors {
  .bg-#{$color}{
    background-color: $value !important;
  }
}
@each $color,
$value in $white-colors {
  .text-#{$color}{
    color: $value !important;
  }
}


::-moz-selection {
  color: map_get($theme-colors, selectionColor);
  background: map_get($theme-colors, selectionBg);
}

::selection {
  color: map_get($theme-colors, selectionColor);
  background: map_get($theme-colors, selectionBg);
}

::-webkit-scrollbar-track {
  background: map_get($theme-colors, scrollTrackBg);
}

::-webkit-scrollbar-thumb {
  background: map_get($theme-colors, scrollThumbBg);

  &::-webkit-scrollbar-thumb:hover {
    background: map_get($theme-colors, scrollThumbHoverBg);
  }
}
